/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Or any resources requirements
params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/zellerlab/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/zellerlab/flexprofiler/tests/test-data'
}

// fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
