/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/taxprofiler -profile test_motus,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

//
// Separate test as mOTUs database download can be flaky
//

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h',
    ]
}

params {
    config_profile_name                    = 'mOTUs Test profile'
    config_profile_description             = 'Minimal test to check mOTUs function'
    input                                  = "${projectDir}/assets/test-data/metagenomics_shortread_samplesheet.csv"
    perform_shortread_qc                   = true
    perform_shortread_hostremoval          = true
    run_profile_standardisation            = true
    perform_runmerging                     = true
    run_motus4                             = true
}