/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    zellerlab/flexprofiler Nextflow config file specific for the Zeller lab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This config file sets useful defaults for use by the Zellerlab.
    Use the profile "zellerlab_shark" for setting the right paths etc for the
    LUMC shark cluster
----------------------------------------------------------------------------------------
*/

profiles {
    zellerlab_shark {
        params {
            databases = "${projectDir}/assets/zellerlab_shark_databases.csv"
            // We use the T2T genome for host removal as recommended in https://doi.org/10.1016/j.crmeth.2025.101218
            hostremoval_reference = "/exports/archive/lucid-grpzeller-primary/SHARED/DATA/flexprofiler_databases/host_genome/t2t_chm13v2/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz"
            shortread_hostremoval_index = "/exports/archive/lucid-grpzeller-primary/SHARED/DATA/flexprofiler_databases/host_genome/t2t_chm13v2/bowtie2_index"
        }
    }
    zellerlab_metagenomics {
        params{
            perform_shortread_qc = true
            perform_shortread_hostremoval = true
            run_motus = true
            run_profile_standardisation = true
        }
        process {
            withName: MOTUS_MERGE {
                memory = "10GB"
            }
        }
    }
    zellerlab_test {
        //temporary for mOTUs
        conda.enabled = true
        process {
            withName: BOWTIE2_ALIGN {
                // following best practice https://doi.org/10.1016/j.crmeth.2025.101218
                ext.args = "--very-sensitive-local"
                conda = null //temporary for motus
            }
            withName: FASTP {
                conda = null //temporary for motus
            }
            withName: FASTQC {
                conda = null //temporary for motus
            }
            withName: SAMTOOLS_INDEX {
                conda = null //temporary for motus
            }
            withName: SAMTOOLS_STATS {
                conda = null //temporary for motus
            }
        }
    }
}
