/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    zellerlab/flexprofiler Nextflow config file specific for the Zeller lab
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This config file sets useful defaults for use by the Zellerlab.
    Use the profile "zellerlab_shark" for setting the right paths etc for the
    LUMC shark cluster
----------------------------------------------------------------------------------------
*/

profiles {
    zellerlab_shark {
        params {
            databases = "${projectDir}/assets/zellerlab_shark_databases.csv"
            // We use the T2T genome for host removal as recommended in https://doi.org/10.1016/j.crmeth.2025.101218
            hostremoval_reference = "/exports/archive/lucid-grpzeller-primary/SHARED/DATA/flexprofiler_databases/host_genome/t2t_chm13v2/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz"
            shortread_hostremoval_index = "/exports/archive/lucid-grpzeller-primary/SHARED/DATA/flexprofiler_databases/host_genome/t2t_chm13v2/bowtie2_index"
        }
        process {
            cache = "lenient"
            executor = 'slurm'
            errorStrategy = {
                if (task.exitStatus in [132, 135, 255] ) {
                    sleep(Math.pow(2, task.attempt) * 200 as long)
                    return 'retry'
                }

                if (task.exitStatus in ((130..145) + 104 + 175)) {
                    return task.attempt <= 3 ? 'retry' : 'finish'
                }
                
                return 'finish'
            }
            maxRetries = 10
        }
        executor {
            queueSize = 1000
            submitRateLimit = "5sec"
        }
    }
    zellerlab_metagenomics {
        params{
            perform_shortread_qc = true
            perform_shortread_hostremoval = true
            run_profile_standardisation = true
            perform_runmerging = true
        }
    }
    zellerlab_minimal {
        skip_preprocessing_qc = true
        skip_postprocessing_qc = true
        skip_hostremoval_qc = true
        skip_multiqc = true
    }
    debug {
        lineage.enabled = true
    }
}
