// you probably use micromamba and not conda
conda {
    useMicromamba = true
    // uncomment this and comment the above if you use mamba
    //useMamba= true 
    // set this to a path in your filesystem where you want the conda cache to be stored
    // if you don't the environments are stored wherever you launch your pipeline and are not reused across multiple
    // executions!
    cacheDir = "<WHERE CONDA ENVS SHOULD BE SAVED>"
}

singularity {
    // set this to a path in your filesystem where you want the conda cache to be stored
    // if you don't the environments are stored wherever you launch your pipeline and are not reused across multiple
    // executions!
    cacheDir = "<WHERE SINGULARITY CONTAINERS SHOULD BE SAVED>"
}

// this sets up the sequera cloud interactive monitoring interface
tower {
    enabled = true
    // generate one at https://cloud.seqera.io and paste it here
    accessToken = "<YOUR ACCESS TOKEN>"
}